@import "reset.css";

@import "ui.css";

@import "repository-list.css";
@import "repository-item.css";

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 960px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}


