<div class="app">
  <div class="main">
    <div class="header">
      <h2>GitHub Organization Repositories</h2>
      <Authorization />
    </div>

    {{#if this.githubApi.accessToken}}
      <RepositoryList />
    {{/if}}
  </div>
</div>

